<a class="course-item" href="/courses/{{course.id}}">
                <div>
                    <img  src="{{ asset('uploads/thumbnails/' ~ course.thumbnail) }}"/>
                    <div>
                        <h3>{{ course.title }}</h3>
                    </div>
                </div>
                <div class="course-info">
                        <div>
                            <div>
                                <p><span>{{ course.nbrLessons }} Lessons</span> | <span><span>{{ course.nbrHours }}</span>hours</span></p>
                                <p>With <span class="tutor">{{ course.tutor_name }}</span></p>
                            </div>
                            <img  src='{{ course.tutor_photo }}'/>

                        </div>
                        <div class='detail'>
                            <p>{{ course.level }}</p>
                            <p>Free</p>
                        </div>
                </div>
            </a>