{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}



    
    <div class='courses'>
        <h2>Welcome to <span> Academix Courses </span>Library</h2>
        <ul class='categories'>
            <li><a href='#'></a></li>
        </ul>
        <div class="courses-items">
              
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image4.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                            <div>
                                <div>
                                    <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                    <p>With <span class="tutor">Per Harold Borgen</span></p>
                                </div>
                                <img  src="{{ asset('images/image4.png') }}"/>

                            </div>
                            
                           
                           <div class='detail'>
                            <p>Beginner</p>
                            <p>Free</p>
                           </div>
                    </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 9.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                        <div>
                            <div>
                                <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                <p>With <span class="tutor">Per Harold Borgen</span></p>
                            </div>
                            <img  src="{{ asset('images/image4.png') }}"/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>Beginner</p>
                        <p>Free</p>
                       </div>
                </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 10.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                        <div>
                            <div>
                                <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                <p>With <span class="tutor">Per Harold Borgen</span></p>
                            </div>
                            <img  src="{{ asset('images/image4.png') }}"/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>Beginner</p>
                        <p>Free</p>
                       </div>
                </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 11.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                        <div>
                            <div>
                                <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                <p>With <span class="tutor">Per Harold Borgen</span></p>
                            </div>
                            <img  src="{{ asset('images/image4.png') }}"/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>Beginner</p>
                        <p>Free</p>
                       </div>
                </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 12.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                        <div>
                            <div>
                                <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                <p>With <span class="tutor">Per Harold Borgen</span></p>
                            </div>
                            <img  src="{{ asset('images/image4.png') }}"/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>Beginner</p>
                        <p>Free</p>
                       </div>
                </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 13.png') }}"/>
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                    </div>
                    
                    <div class="course-info">
                        <div>
                            <div>
                                <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                <p>With <span class="tutor">Per Harold Borgen</span></p>
                            </div>
                            <img  src="{{ asset('images/image4.png') }}"/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>Beginner</p>
                        <p>Free</p>
                       </div>
                </div>
                </div>
                <div class="course-item">

                    <div>
                        <img  src="{{ asset('images/courses/image 14.png') }}"  class="background-image" />
                        <div>
                            <h3>Front end Career Path</h3>
                        </div>
                        
                    </div>
                    
                    <div class="course-info">
                            <div>
                                <div>
                                    <p><span>1106 Lessons</span> | <span><span>70</span>hours</span><span>30</span>mins</p>
                                    <p>With <span class="tutor">Per Harold Borgen</span></p>
                                </div>
                                <img  src="{{ asset('images/image4.png') }}"/>

                            </div>
                            
                           
                           <div class='detail'>
                            <p>Beginner</p>
                            <p>Free</p>
                           </div>
                    </div>
                </div>
        
            </div>
            
         
    </div>

    
{% endblock %}
