{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}



    
    <div class='courses'>
        <h2>Welcome to <span> Academix Courses </span>Library</h2>
        <ul class='categories-filter'>
            <li><a class="categorie-filter" href="#">Tech_Industry</a></li>
            <li><a class="categorie-filter" href="#">Languages</a></li>
            <li><a class="categorie-filter" href="#">Medecine</a></li>
            <li><a class="categorie-filter" href="#">History</a></li>
            <li><a class="categorie-filter" href="#">Life_Lessons</a></li>
            <li><a class="categorie-filter" href="#">Divers</a></li>

        </ul>
        <div class="courses-items">
              {% for course in  courses %}

              <div class="course-item">

                <div>
                    <img  src='{{ course.thumbnail }}'/>
                    <div>
                        <h3>{{ course.title }}</h3>
                    </div>
                </div>
                
                <div class="course-info">
                        <div>
                            <div>
                                <p><span>{{ course.nbrLessons }} Lessons</span> | <span><span>{{ course.nbrHours }}</span>hours</span></p>
                                <p>With <span class="tutor">{{ course.tutor_name }}</span></p>
                            </div>
                            <img  src='{{ course.tutor_photo }}'/>

                        </div>
                        
                       
                       <div class='detail'>
                        <p>{{ course.level }}</p>
                        <p>Free</p>
                       </div>
                </div>
            </div>

              {% endfor %}
                
        </div>
            
         
    </div>

    
{% endblock %}
