

{% block  div %}



                    <span id="btn-close-popup-lesson-module">close</span>
                    <h4>Create New Lesson</h4>
                    {{ form_start(formLesson, {'action': path('add_lesson', {'id': idmodule}), 'attr': {'id': 'lessonForm', 'method': 'POST'}}) }}


                    <div class="form-group">
                        {{ form_label(formLesson.name) }}
                        {{ form_widget(formLesson.name) }}
                        {{ form_errors(formLesson.name) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(formLesson.duration) }}
                        {{ form_widget(formLesson.duration) }}
                        {{ form_errors(formLesson.duration) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(formLesson.video) }}
                        {{ form_widget(formLesson.video) }}
                        {{ form_errors(formLesson.video) }}
                    </div>

                   <label for="">Lesson Position</label>
                    {{ form_widget(formLesson.position) }}

                    <button type="submit" class="add_lesson_btn">Add</button>
                    {{ form_end(formLesson) }}
                   
{% endblock %}
