{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    <script defer src="{{ asset('js/scripts.js') }}"></script> <script src="{{ asset('script.js') }}"></script>
    <script defer src="{{ asset('js/script.js') }}"></script>

{% endblock %}

{% block header %}

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand d-flex flex-row align-items-center" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="GuildsPro Logo" width="150px">
           
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto" >
           
            
            <li class="nav-item">
              <a class="nav-link" href="/allcourses?topic=popular">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Profile</a>
              </li>
            
              
            
          </ul>
        </div>
      </nav>
</header>

{% endblock %}
{% block body %}



    
    <div class='dashboard'>
        <ul class="dashboard-options">
            <li class="nav-item" id="mycoursesBtn">
                <a  href="#">My Courses</a>
            </li>
            <li class="nav-item" id="myachievementsBtn">
                <a href="#">My Acheivements</a>
            </li>
            <li class="nav-item" id="updateprofileBtn">
                <a  href="">Update Profile</a>
            </li>
            <li class="nav-item" id="deleteprofileBtn">
                <a   id="deleteBtn" href="">Delete Profile</a>
            </li>
        </ul>
        <div>
            <h2>Welcome  <span> {{ app.user.username}}  </span>To Academix </h2>
            
            <div id="mycourses" class="mycourses">
                <div class="progress-section">
                    <h3>Continue Your Progress</h3>
                    <ul>
                        {% for enrollment in studentEnrollments %}
                        <li>
                            <div>
                                <img src="{{ asset('uploads/thumbnails/' ~ enrollment.course.thumbnail) }}" alt="{{ enrollment.course.title }}"/>
                                <div>
                                    <h4>{{ enrollment.course.title }}</h4>
                                    
                                </div>
                            </div>

                            <div class="progressinfo">
                                <p class="module-reached">Module Learn js</p>
                                <p>{{ enrollment.course.title }}</p>
                                <p class="progress-value"><span>90%</span> of course completed</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="completed-courses">
                    <h3>Completed Courses</h3>
                    <ul>
                        <li>
                            <i class="fa-solid fa-crown"></i>
                            <h4>Learn Javascript</h4>
                            <p><span>209 Lessons</span> |<span>10 hours</span> |<span>5555 Students</span><progress  value="100" max="100"> 100% </progress>100%</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-crown"></i>
                            <h4>Learn Javascript</h4>
                            <p><span>209 Lessons</span> |<span>10 hours</span> |<span>5555 Students</span><progress  value="100" max="100"> 100% </progress>100%</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-crown"></i>
                            <h4>Learn Javascript</h4>
                            <p><span>209 Lessons</span> |<span>10 hours</span> |<span>5555 Students</span> <progress  value="100" max="100"> 100% </progress>100%</p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="update-profile" id="updateprofile">
                <h3>Update User</h3>
                <div class="container updateprofileContainer">
                    
                    <form action="{{ path('update_user_profile') }}" method="post" enctype="multipart/form-data">
                        <div hidden>  {{ csrf_token('update_user_profile') }}</div>
                       
                    <div class="profile-picture">
                        <img src="{{ app.user.profileImage ? app.user.profileImage : 'https://www.iprcenter.gov/image-repository/blank-profile-picture.png/@@images/image.png' }}" alt="Image de profil">
                       
                        <label for="image-upload" id="btnshowinput">
                            <span>Update Profile</span>
                        </label>
                        <input type="text" name="profileImage" id="image-upload" placeholder="url of image" class="input">
                    </div>
            
                    <div class="form">

                    
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="joe shmoe" value="{{ app.user.username}}" >
                        </div>
            
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="joeshmoe@gmail.com"  value="{{ app.user.email }}">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="********" >
                        </div>
            
                        <button type="submit">Update Profile</button>
                    </div>
                    </form>
                </div>
            
            </div>
            <div id="myachievements" class="my-achievements">
                <h3>My Certifications</h3>
            </div>

        </div>
        
       
            
         
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closepopUp">&times;</span>
            <p>Are you sure you wanna delete your profile ?</p>
            <div>
                <a id="confirmBtn" href="/user/delete-user">Proceed</a>
            <a id="cancelBtn" href="">Cancel</a>
            </div>
            
        </div>
    </div>
    

    
{% endblock %}
